body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

#messages {
    margin-top: 20px;
    background: white;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
}
